.solicitud {
	font-size:18px;
	
}
.fechas {
vertical-align: bottom;
/*border-bottom: solid 1px green;*/
display: inline-block;
}
.inputsf{
	text-align: center;
}
.campos{
	padding-bottom: 0px;
	margin: 0px 0px 0px 0px;
}